:javascript
  function action_click() {
    var action = $(this).data("action");
    var services = $(this).data("service");
    var hosts = $(this).data("host");
    if (action == "sysadmin") {
      alert("Please contact your sysdamin and pray he's got time");
    }
    else {
      var dialog_message = "Do you really want to " + action + " " + services + " on " + hosts + "?";
      if (confirm(dialog_message)) {
        var url = "/service/" + action;
        var json = { "host": hosts, "service": services };
        var data = JSON.stringify(json);
        /* alert("posting data: " + data + " to " + url); */
        $.post(url, data, update_status).error(function() { update_status("error"); });
      }
    }
  };

  var refresh_interval = 5000;

  function get_services() {
    $.get('/services', function(services){
      clear_status();
      $('#services').replaceWith(services);
      $('#services .service-action').click(action_click);
      window.setTimeout(get_services, refresh_interval);
    }).error(function() {
      $('#services').replaceWith('<div class="error bc" id="services">Error connecting to server.</div>');
      window.setTimeout(get_services, refresh_interval);
    });
  };

  function get_host_summary() {
    $.get('/host-summary', function(summary){
      clear_status();
      $('#host-summary').replaceWith(summary);
      $('#host-summary .host-action').click(action_click);
      window.setTimeout(get_host_summary, refresh_interval);
    }).error(function() {
      $('#host-summary').replaceWith('<div class="error bc" id="host-summary">Error connecting to server.</div>');
      window.setTimeout(get_host_summary, refresh_interval);
    });
  };

  function get_service_summary() {
    $.get('/service-summary', function(summary){
      clear_status();
      $('#service-summary').replaceWith(summary);
      $('#service-summary .host-action').click(action_click);
      window.setTimeout(get_service_summary, refresh_interval);
    }).error(function() {
      $('#service-summary').replaceWith('<div class="error bc" id="service-summary">Error connecting to server.</div>');
      window.setTimeout(get_service_summary, refresh_interval);
    });
  };

  /* The web socket */
  var ws = null;

  /* connect to the notification data stream */
  function connect_notifications() {
    if ( ws == null ) {
      ws = new WebSocket("ws://" + document.location.hostname + ":9002/");
      ws.onmessage = function(evt) { update_notifications(JSON.parse(evt.data)); };
      ws.onclose = function() { ws = null; window.setTimeout(connect_notifications, 5000); };
      ws.onopen = function() { ws.send('Hi there'); };
      ws.onerror = function() { alert("websocket error"); }
    }
  };

  /* update the notifications */
  function update_notifications(notifications) {
    var table = $('#notifications');
    var list = $('#notifications tr:first-child');
    for (var i = 0, len = notifications.length; i < len; ++i) {
      var e = notifications[i];
      var host = e["host"];
      var service = e["service"];
      var time = e["time"].slice(11,19);
      var message = e["message"];
      var event = e["event"];
      var new_row = $("<tr><td>" + time + "</td><td>" + host + "</td><td>" + service + "</td><td>" + event + "</td><td>" + message + "</td></tr>");
      new_row.hide().addClass("error");
      var rows = $('#notifications tr');
      var l = rows.size() - 25;
      for (j=0; j < l; ++j) {
        rows.last().remove();
      }
      list.after(new_row);
      remove_color = function(row) { return function() {
                       window.setTimeout(function() { row.removeClass("error"); } , 10000); }; };
      new_row.fadeIn(2000, remove_color(new_row) );
    }
  };

  function select_tab() {
    $('.pane').hide();
    $('.selected').removeClass("selected");
    $(this).addClass("selected");
    $($(this).data("pane")).show();
  }

  function clear_status(){
    $('#statusarea').text('');
  };

  function update_status(text) {
    $('#statusarea').text(text);
  }

  $(document).ready(function() {
    $('.pane').hide();
    $('.tab').click(select_tab);
    $('#hosts').show();
    $('.tab').first().addClass("selected");
    get_host_summary();
    get_service_summary();
    get_services();
    connect_notifications();
  });

%div#tabs
  %ul
    %li.tab{:data => {:pane => '#hosts'}} Overview
    %li.tab{:data => {:pane => '#byservice'}} Services
    %li.tab{:data => {:pane => '#details'}} Processes
    %li.tab{:data => {:pane => '#notifications'}} Notifications
%div#content
  %div.pane#hosts
    %h2 Host status summary
    %div#host-summary
  %div.pane#byservice
    %h2 Service status summary
    %div#service-summary
  %div.pane#details
    %h2 Service details for all hosts
    %div#services
  %div.pane#notifications
    %h2 Notifications
    %table.services#notifications
      %tr
        %th Time
        %th Host
        %th Service
        %th Event
        %th Message
%div#statusarea
