:javascript
  function action_click() {
    var action = $(this).data("action");
    var services = $(this).data("service");
    var hosts = $(this).data("host");
    if (action == "sysadmin") {
      alert("Please contact your sysdamin and pray he's got time");
    }
    else {
      var dialog_message = "Do you really want to " + action + " " + services + " on " + hosts + "?";
      if (confirm(dialog_message)) {
        var url = "/service/" + action;
        var json = { "host": hosts, "service": services };
        var data = JSON.stringify(json);
        /* alert("posting data: " + data + " to " + url); */
        $.post(url, data, function(data) { alert(data); }).error(function() { alert("error"); });
      }
    }
  };

  var refresh_interval = 5000;

  function get_services() {
    $.get('/services', function(services){
      $('#services').replaceWith(services);
      $('#services .service-action').click(action_click);
      window.setTimeout(get_services, refresh_interval);
    }).error(function() {
      $('#services').replaceWith('<div class="error bc" id="services">Error connecting to server.</div>');
      window.setTimeout(get_services, refresh_interval);
    });
  };

  function get_host_summary() {
    $.get('/host-summary', function(summary){
      $('#host-summary').replaceWith(summary);
      $('#host-summary .host-action').click(action_click);
      window.setTimeout(get_host_summary, refresh_interval);
    }).error(function() {
      $('#host-summary').replaceWith('<div class="error bc" id="host-summary">Error connecting to server.</div>');
      window.setTimeout(get_host_summary, refresh_interval);
    });
  };

  function get_service_summary() {
    $.get('/service-summary', function(summary){
      $('#service-summary').replaceWith(summary);
      $('#service-summary .host-action').click(action_click);
      window.setTimeout(get_service_summary, refresh_interval);
    }).error(function() {
      $('#service-summary').replaceWith('<div class="error bc" id="service-summary">Error connecting to server.</div>');
      window.setTimeout(get_service_summary, refresh_interval);
    });
  };

  $(document).ready(function() {
    get_host_summary();
    get_service_summary();
    get_services();
  });

%div#content
  %h2 Host status summary
  %div#host-summary
  %h2 Service status summary
  %div#service-summary
  %h2 Service details for all hosts
  %div#services
