:javascript
  function action_click() {
    var action = $(this).data("action");
    if (action == "sysadmin") {
      alert("Please contact your sysdamin and pray he's got time");
    }
    else {
      var url = "/service/" + action;
      var json = { "host": $(this).data("host"), "service": $(this).data("service") };
      var data = JSON.stringify(json);
      /* alert("posting data: " + data + " to " + url); */
      $.post(url, data, function(data) { alert(data); }).error(function() { alert("error"); });
    }
  };

  function get_again_later() {
    window.setTimeout(get_services, 5000);
  };

  function get_services() {
    $.get('/services', function(services){
      $('#services').replaceWith(services);
      $('.service-action').click(action_click);
      get_again_later();
    }).error(function() {
      $('#services').replaceWith('<div class="error" id="services">Error connecting to server.</div>');
      get_again_later();
    });
  };

  $(document).ready(function() {
    get_services();
  });

%div#content
  %div#services
