%table.services#service-summary
  %tr
    %th Service
    %th Hosts Up
    %th Hosts Down
    %th Action
  - @service_summary.each do |service, info|
    - up, down, hosts = info.values_at("up", "down", "hosts")
    %tr
      %td.name= service
      %td.up= up
      %td.down= down
      %td
        %ul
          - %w(start stop restart).each_with_index do |a,i|
            %li{:class => i==0 ? "first" : ""}
              %a{:class => "host-action", :data => {:host => hosts.join(' '), :service => service, :action => a}}= a
