body, h1, td, th, li, a, span, p, div {
  font-family: Helvetica, Sans-Serif;
}

h1 {
  text-align: center;
  color: #2F4F4F;
}

.error {
  color:red;
}

#services {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#services tr:nth-child(odd) { background-color:#eee; }
#services tr:nth-child(even) { background-color:#fff; }
#services tr:first-child { background-color:#ddd; }

#services td, #services th {
    border:none;
    border:0px;
    margin:0px;
    padding:7px;
}

#services .pid, #services .since {
  text-align: right;
}

#services .status, #services .normally, #services .wants {
  text-align: center;
}

#services ul {
  margin: 0px;
  padding: 0px;
}

#services ul li {
  display: inline;
  white-space: nowrap;
}

#services ul li:before {
	content: "|";
}

#services ul li.first:before {
	content: "";
}
#services a {
    color: #4682B4;
}
#services a:hover {
    cursor: pointer;
}
